In [1]:
import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
import json
from config_twitter import consumer_key, consumer_secret, access_token, access_token_secret
import time
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,parser=tweepy.parsers.JSONParser())

In [11]:
file_one = pd.read_csv("CD Demographics.csv")

file_one ["White"] = file_one ["White"] / file_one ["Total population"]
file_one ["Black or African American"] = file_one ["Black or African American"] / file_one ["Total population"]
file_one ["Asian"] = file_one ["Asian"] / file_one ["Total population"]
file_one ["Hispanic or Latino (of any race)"] = file_one ["Hispanic or Latino (of any race)"] / file_one ["Total population"]
file_one.head()

,District,Total population,Median age (years),18 years and over,65 years and over,One race,White,Black or African American,Asian,Some other race,...,Cuban,Other Hispanic or Latino,Not Hispanic or Latino,Native,Born in United States,Born in Virginia,Born Outside of Virgina,Foreign born,Median household income (dollars),Mean household income (dollars)
0,VA-01,813878,38.6,619403,123912,779581,0.720108,0.162924,0.033579,30862,...,2343,60786,716533,738726,720234,412086,308148,75152,90234,108542
1,VA-02,743410,36.2,585280,112245,706976,0.661321,0.201558,0.059495,18438,...,1879,22841,679639,676387,655900,308526,347374,67023,71088,93247
2,VA-03,744804,34.9,577378,100426,711396,0.443331,0.457361,0.029615,15163,...,2426,16364,697025,701997,686250,410147,276103,42807,53533,72457
3,VA-04,747291,38.7,596774,115128,724861,0.528882,0.410429,0.017692,7770,...,1551,19185,703504,706895,696745,463037,233708,40396,60160,79721
4,VA-05,739410,42.8,594390,150340,714747,0.749319,0.190252,0.019800,3402,...,700,11710,714374,707762,701352,477622,223730,31648,55491,79396

In [12]:
file_one.iloc[:,0:15]

,District,Total population,Median age (years),18 years and over,65 years and over,One race,White,Black or African American,Asian,Some other race,Two or more races,Hispanic or Latino (of any race),Mexican,Puerto Rican,Cuban
0,VA-01,813878,38.6,619403,123912,779581,0.720108,0.162924,0.033579,30862,34297,0.119606,20761,13455,2343
1,VA-02,743410,36.2,585280,112245,706976,0.661321,0.201558,0.059495,18438,36434,0.085782,22250,16801,1879
2,VA-03,744804,34.9,577378,100426,711396,0.443331,0.457361,0.029615,15163,33408,0.064150,16496,12493,2426
3,VA-04,747291,38.7,596774,115128,724861,0.528882,0.410429,0.017692,7770,22430,0.058594,13393,9658,1551
4,VA-05,739410,42.8,594390,150340,714747,0.749319,0.190252,0.019800,3402,24663,0.033859,9965,2661,700
5,VA-06,755437,39.9,603009,141158,732326,0.827062,0.113934,0.017132,6810,23111,0.059082,16840,8114,2857
6,VA-07,812385,39.3,622337,128234,780305,0.693882,0.191223,0.050248,18065,32080,0.074664,14429,10727,1499
7,VA-08,795467,36.2,629953,96724,757054,0.633342,0.153059,0.114788,37495,38413,0.178508,18712,10247,2074
8,VA-09,704831,43.5,576130,145820,694577,0.909069,0.052325,0.016527,3036,10254,0.020296,6674,2549,859
9,VA-10,862308,38.4,634862,108403,818266,0.687358,0.066741,0.160156,27634,44042,0.135968,19479,7882,2243
10,VA-11,798464,36.7,608529,95835,748092,0.569393,0.129552,0.174235,47068,50372,0.195694,14360,12299,2012

In [6]:
list_dfs = []
for i in range(len(file_one["District"])):
    cd_df = file_one.iloc[i,:]
    new_df = pd.DataFrame(cd_df)
    new_df = new_df.reset_index()
    new_df = new_df.rename(columns={"index": "Category", 1: "District Characteristics"})
    list_dfs.append(new_df)
list_dfs[0]

                             Category       0
0                            District   VA-01
1                    Total population  813878
2                  Median age (years)    38.6
3                   18 years and over  619403
4                   65 years and over  123912
5                            One race  779581
6                               White  586080
7           Black or African American  132600
8                               Asian   27329
9                     Some other race   30862
10                  Two or more races   34297
11   Hispanic or Latino (of any race)   97345
12                            Mexican   20761
13                       Puerto Rican   13455
14                              Cuban    2343
15           Other Hispanic or Latino   60786
16             Not Hispanic or Latino  716533
17                             Native  738726
18              Born in United States  720234
19                   Born in Virginia  412086
20            Born Outside of Virgina  308148
21                       Foreign born   75152
22  Median household income (dollars)   90234
23    Mean household income (dollars)  108542

In [ ]:
html_list = []
for df in list_dfs:
    new_df = df.to_html()
    df.to_html(f'{df.iloc[0,1]}_demographics.html',table_id= {df.iloc[0,1]})
    html_list.append(new_df)
html_list[0]